@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

* {

    margin: 0;
    padding: 0;
    font-family: 'PT Serif';

}

html, body {

    margin: 0;
    padding: 0;

}

/*-----------------NAVBAR-----------------*/

nav {

    animation: navbarr 2s ease-in-out;

}


.image-navbar {

    width: 15vh;
    height: auto;

}

.offcanvas.offcanvas-end {

    width: 80%;
    max-width: none;

}



.wpp-icon-content {

    z-index: 3;
    position: fixed;
    width: 3em;
    height: 3em;
    background-color: white;
    bottom: 16px;    
    right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: solid black 2px;
}

.wpp-icon-real {

    width: 1.5em;
    height: auto;

}


.hamburger-icon {

    width: 1em;
    height: auto;

}

#volver {

    width: 1.5em;
    height: auto;
    margin-bottom: 5em;

}

#carta {

    background-color: black; 
    color: #f4f4f1;

}

#carta:hover {

    background-color: white;
    color: black;
    border: black 1px solid;

}


/*--------------------FIRST DUO--------------------------*/


.first {

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100vh auto;
    grid-template-areas: 'video1'
                        'txt1';
    background-color: black;
    padding-bottom: 4rem;
    

}

.video1 {

    grid-area: video1;
    height: 100%;

}

video {

    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    

}

.txt1,
.txt3 {

    grid-area: txt1;
    text-align: left;
    margin: 4em 1em;
    margin-right: 2.5em;

}

.titlegreen {

    font-size: 1.7rem;
    color: #f4f4f1;
    margin-bottom: 0.5em;
    font-weight: 300;

}

.contentgreen {

    font-size: 1.2rem;
    color: #f4f4f1;
    font-family: 'Red Hat Display';

}

.title {

    height: 3em;
    overflow: hidden;

}

.title span {

    animation: change-phrase-title 8s ease infinite;
    position: relative;

}

.btn-instagram-green {

    margin: 1em 0;
    padding: 10px 15px;
    background-color: #000000;
    font-weight: 500;
    border-radius: 40px;

}

.inside-button-green {

    color: #f4f3e3;

}

/*----------------CARRUSEL DE TEXTO-----------------*/

.text-wrapper {

    display: flex;
    justify-content: flex-start;
    background-color: #f4f4f1;
    padding: 4rem 0;
    overflow: hidden;

}

h1 {

    white-space: nowrap;
    padding: 0 2rem;
    animation: move-horizontal 7s linear infinite;
    color: black;
    font-size: 3rem;
    font-family: 'PT Serif';
    font-weight: 300;

}


/*----------------SECOND DUO-------------------*/


.second {

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100vh auto;
    grid-template-areas: 'video2'
                        'txt2';
    background-color: black;
    padding-bottom: 5em;
}



.video2 {

    grid-area: video2;

}



.txt2 {

    grid-area: txt2;
    text-align: right;
    margin: 4em 1em;
    margin-left: 1em;

}

.titlepink {

    color: #f4f4f1;
    font-size: 1.7rem;
    margin-bottom: 0.5em;
    font-weight: 300;


}

.contentpink {

    font-size: 1.2em;
    color: #f4f4f1;
    font-family: 'Red Hat Display';

}

.btn-instagram-pink {

    margin: 1em 0;
    padding: 10px 15px;
    background-color: #f4f3e3;
    color: #ab5c54;
    font-weight: 500;
    border-radius: 40px;

}

.inside-button-pink {

    color: #ab5c54;

}

/*-------------THIRD DUO0-------------------*/

.third {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr, 2);
    grid-template-areas: 'video3'
                        'txt3';
    padding-top: 8em;
    background-color: #fbf4e3;

    

}

.video3 {

    grid-area: video3;


}


.txt3 {

    grid-area: txt3;

}




/*-------------------FOOTER----------------------*/

#logo-footer {

    width: 5em;
    height: auto;

}




/*------------------GENERAL--------------------*/
.icons {

    width: 0.9em;
    height: auto;

}

a {

    text-decoration: none;

}


/*-----------------ANIMACIONES------------------*/

@keyframes change-phrase-title {

    0%,
    100% {

        top: 0;

    }

    50% {

        top: -3em;

    }



}

@keyframes move-horizontal {

    0% {

        transform: translateX(0);

    }

    100% {

        transform: translateX(-100%);

    }

}

@keyframes navbarr {

    0% {

        transform: translateY(-15vh);

    }

    100% {

        transform: translateY(0vh);

    }

}
    


